.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 5%;
    color: #888888;
    opacity: 1
}
.containerForm{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.containerText p {
    margin-top: 30px;
}

.formInput input {
    border: 1px solid #707070;
    padding: 10px;
    margin: 10px 0;
    width: 400px;
}

.formCheckboxes label,input {
margin: 0 8px;
cursor:pointer;


}
